*{
    font-family: 'Times New Roman', Times, serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: #1F2937;
}

.header-link {
    display: flex;
    gap: 16px;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.section1 {
    background-color: #1F2937;
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    justify-content: space-around;
}

.intro-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 20px;
}

.intro-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
}

.intro-left {
    word-wrap:break-word;
    width: 400px;
}

.intro-right {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 150px;
    background-color: grey;
}

.sign-up {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 15%;
    border: none;
    width: 75px;
    height: 25px;
    font-weight: 600;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 25px;
}

.boxes {
    display: flex;
}

.box {
    border: 3px solid #3882F6;
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 10%;
}

.text {
    word-wrap: break-word;
    width: 250px;
    text-align: center;
    color: grey;
}

.section3 {
    background-color: #E5E7EB;
    padding: 200px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.quote {
    font-size: 36px;
    color: #1F2937;
    width: 60%;
}

.author {
    font-size: 20px;
    font-weight: bold;
    color: black;
    align-self: flex-end;
}

.section4 {
    border: 1px solid red;
    gap: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    color: white;
    font-size: 14px;
    padding: 15px;
    margin: 50px;
    border-radius: 4px
}

.sign-up {
    border: 1px solid white;
}

